@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

#title{
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 80px;
  
    padding-top: 40px;
} 


html {
    height: 100%;
    background-color: blanchedalmond;
  }
  
  body {
    /* height: 100%; */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;

  }
  

  
  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  
  .login-form-field::placeholder {
    color: #3a3a3a;
  }
  
  .login-form-field {
    border: none;
    width:200px;
    border-bottom: 1px solid #e87979;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
  }
  
  #login-form-submit{
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    cursor: pointer;
    outline: none;
  }

  .bn33 {
    border: 5em;
    height:44px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 1px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }

    
  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }



  #signUpButton{
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    cursor: pointer;
    outline: none;
  
  }

#question-container  .question {
    display: none;
  }

  #start-button,  #question-container button {
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    cursor: pointer;
    outline: none;
  }

#page {
  width: 100%
}

#question-container {
    border: solid 2px #051937;
    border-radius: 5px;
    /* width: 80%; */
    margin: auto;
    /* padding: 7px; */
  }
#header-nav {
  width: 100%;
}

#navList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#navList li{
  list-style: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #008793;
  color: white;
}

.modal-body {padding: 10px 10px;}
.modal-body h1 {
  text-align: center;
}
#page li{
  list-style: none;
}